/* css generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#ticket_to_ride{
    background-color: brown;
}

.container{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}

.row{
    display: flex;
    justify-content: center;
}

.col{
    width: 100%;
    text-align: center;
}

/* titolo */
h1, h2{
    color: white;
    padding: 30px;
}

/* rivestimento delle informazioni del biglietto */
.card{
    width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 20px 50px;
    box-shadow: 1px 1px 5px black;
    color: brown;
    text-align: center;
}

/* metto il form in flex */
.flex{
    display: flex;
    justify-content: space-around;
}

/* allineo titolo e inserimento del dato */
.flex div{
    text-align: center;
}

/* metto dei padding */
label{
    display: block;
    padding-bottom: 10px;
}

button{
    margin: 30px 10px 0;
    color: brown;
    font-size: 18px;
    padding: 5px 10px;
}

/* sezione IL TUO BIGLIETTO */
h2{
    font-size: 36px;
}

.ticket{
    background-color: white;
    text-align: start;
    padding: 15px;
}

/* costum della tabella */
table{
    width: 100%;
    border: 2px solid gray;
    border-right: none;
    border-collapse: collapse;
}

th, td{
    text-align: start;
    padding: 20px;
}

.user_name{
    background-color: gray;
}

/* sezione di display costo biglietto */
.output_ticket{
    display: none;
}

.show{
    display: block;
}